<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheets/css.css">
</head>
<body>




  <header>

    <section>
      <h1>DH News</h1>
    </section>

  </header>



  <main id="green">

    <section>
      <article>
        <h5>Postado em 14/12/2021</h5>
  
        <p>Lorem ipsum aenean scelerisque accumsan praesent vitae, porttitor venenatis donec torquent non tortor, sollicitudin tincidunt varius odio scelerisque.
        dictumst lorem ligula himenaeos eros dapibus consequat etiam metus purus quam, adipiscing arcu luctus sociosqu ipsum torquent quisque nullam.
        quisque inceptos vitae augue ut nam justo nullam aliquet, quam commodo lectus euismod ipsum lobortis lorem, ultrices aenean euismod sagittis pulvinar tristique arcu.</p>
      </article>
    </section>

    <section>
      <article>
        <img class="hImg" src="images/destaque.webp" alt="destaque" width="100%">
        <h3>Congue cras sapien himenaeos, ligula. </h3>
        <p>Lorem ipsum dapibus semper vehicula ante potenti nec eleifend primis velit, nullam pellentesque porta lacus quisque tellus id lorem gravida orci, ad nisl commodo lorem curabitur nisl dictum fames at. </p>
        
  
        <ol>
          <li>Lorem ipsum duis malesuada, ac commodo. </li>
          <li>Ac urna himenaeos, sollicitudin. </li>
          <li>Orci nulla duis cras, leo pharetra</li>
        </ol>
  
        <p>Ad vitae donec senectus faucibus imperdiet elit sem turpis, aenean sem pharetra tempor nullam nunc vestibulum dapibus, bibendum risus ac feugiat quisque nisi viverra. at ante curae at ligula sit aliquet quisque diam ullamcorper, sit urna suscipit non ad torquent viverra lacus curae, libero netus justo vel ut semper erat curae. </p>
      </article>
    </section>

    <section>
      <article>
        <h3>Posuere tincidunt suspendisse lorem hac fusce, dui integer etiam. </h3>

        <p>Lorem ipsum nisl aptent imperdiet vulputate, eu congue dolor urna sit, taciti proin nisi velit. vehicula lobortis commodo aenean enim vel, at luctus litora eros himenaeos, condimentum proin litora bibendum. </p>
        <p>Luctus ornare phasellus tempor nostra dictumst nam rutrum eros, <strong>id litora nisi blandit suspendisse pellentesque eu.</strong> viverra senectus ut elementum venenatis suspendisse integer adipiscing pulvinar interdum inceptos tristique at, leo integer eget hac sollicitudin nunc praesent ornare id cras erat. inceptos interdum nulla suspendisse dolor vehicula fames ligula, dui sapien orci sem cubilia turpis, vel fringilla gravida fames primis scelerisque. </p>
        <p>Elementum ut ipsum nam eros ultrices faucibus per eros, est a himenaeos dolor habitasse taciti curabitur vulputate, dui senectus volutpat elit fermentum morbi fermentum. lorem pharetra arcu enim dapibus massa pretium in senectus eleifend rhoncus eu nullam leo amet, suspendisse scelerisque ut sodales ipsum sollicitudin taciti gravida dui venenatis placerat urna pharetra. senectus sodales sem nunc quis, augue ad nullam. </p>
      </article>
    </section>

  </main>



  <footer id="flex red">
    <hr>
    <ul class="flex row">
      <li><a href="https://www.facebook.com.br" ><img src="images/facebook.svg"  alt="facebook" ></a></li>
      <li><a href="https://www.instagram.com.br" ><img src="images/instagram.svg"  alt="instagram" ></a></li>
      <li><a href="https://www.linkedin.com.br" ><img src="images/linkedin.svg"  alt="linkedin"></a></li>
      <li>  <a href="https://www.youtube.com.br" ><img src="images/youtube.svg"   alt="youtube" ></a></li>
    </ul>
  </footer>

  


  
</body>
</html>